In [1]:
import pandas as pd

train = pd.read_csv('big_mart_data.csv')
train.head()

,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,Outlet_Size,Item_Outlet_Sales
0,9.300,Low Fat,Dairy,249.8092,Medium,3735.1380
1,5.920,Regular,Drinks,48.2692,Medium,443.4228
2,17.500,Low Fat,Dairy,141.6180,Medium,2097.2700
3,8.930,Low Fat,Others,53.8614,High,994.7052
4,10.395,Regular,Others,51.4008,Medium,556.6088

In [2]:
train['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [3]:
train['Item_Fat_Content'] = train['Item_Fat_Content'].map({'Low Fat': 0, 'Regular': 1})

In [4]:
train['Item_Type'].unique()

array(['Dairy', 'Drinks', 'Others', 'Fruits'], dtype=object)

In [5]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [13]:
train['Item_Type'] = le.fit_transform(train['Item_Type'])

In [15]:
train['Outlet_Size'].unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [16]:
train['Outlet_Size'] = train['Outlet_Size'].map({'Small': 0, 'Medium': 1,'High': 2})

In [17]:
train.head()

,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,Outlet_Size,Item_Outlet_Sales
0,9.300,0,0,249.8092,1,3735.1380
1,5.920,1,0,48.2692,1,443.4228
2,17.500,0,0,141.6180,1,2097.2700
3,8.930,0,0,53.8614,2,994.7052
4,10.395,1,0,51.4008,1,556.6088

In [18]:
train.isnull().sum()

Item_Weight          0
Item_Fat_Content     0
Item_Type            0
Item_MRP             0
Outlet_Size          0
Item_Outlet_Sales    0
dtype: int64

In [19]:
X = train.drop(['Item_Outlet_Sales'], axis=1)

In [20]:
X.head()

   Item_Weight  Item_Fat_Content  Item_Type  Item_MRP  Outlet_Size
0        9.300                 0          0  249.8092            1
1        5.920                 1          0   48.2692            1
2       17.500                 0          0  141.6180            1
3        8.930                 0          0   53.8614            2
4       10.395                 1          0   51.4008            1

In [21]:
y = train.Item_Outlet_Sales

In [23]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [24]:
import pickle 
pickle_out = open("regressor.pkl", mode = "wb") 
pickle.dump(model, pickle_out) 
pickle_out.close()

In [25]:
!pip install -q pyngrok

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [26]:
!pip install -q streamlit

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.1.5 requires pyqt5<5.13, which is not installed.
spyder 5.1.5 requires pyqtwebengine<5.13, which is not installed.

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [37]:
%%writefile app.py
import pickle
import streamlit as st
pickle_in = open('regressor.pkl', 'rb') 
regressor = pickle.load(pickle_in)

def main():
    html_temp = """ 
    <div style ="background-color:yellow;padding:13px"> 
    <h1 style ="color:black;text-align:center;">Check the Big Mart Sales</h1> 
    </div> 
    """
    st.markdown(html_temp, unsafe_allow_html = True) 
    
    ItemWeight = st.number_input('Item_Weight')
    ItemFatContent = st.selectbox('Item Fat Content',("Low Fat","Regular"))
    ItemType = st.select_box('Item_Type',("Dairy","Drinks","Others", "Fruits")) 
    ItemMRP = st.number_input("Amount of item in Rupees")
    OutletSize = st.selct_box('Outlet_Size',('Small','Medium','High'))
    result= ""
                              
    if st.button("Check"): 
        result = prediction(Item_Weight,Item_Fat_Content,Item_Type, Item_MRP,Outlet_Size) 
        st.success('Your ITem Outlet Sales is {}'.format(result))
                              
    if ItemFatContent == "Low Fat":
         ItemFatContent = 0
    else:
        ItemFatContent = 1

    if ItemType == "Dairy":
        ItemType = 0
    elif ItemType == "Drinks":
        ItemType  = 1
    elif ItemType == "Others":
        ItemType = 2
    else:
        ItemType = 3
                              
    if OutletSize == "Small":
        OutletSize = 0
    elif OutletSize == "Medium":
        OutletSize = 1
    else:
        OutletSize = 2
    
    prediction = regressor.predict([[ItemWeight,ItemFatContent,ItemType,ItemMRP,OutletSize]])
                              
if __name__=='__main__': 
    main()

Overwriting app.py

In [49]:
streamlit run app.py

SyntaxError: invalid syntax (Temp/ipykernel_16088/3737097518.py, line 1)

In [48]:
from pyngrok import ngrok

public_url = ngrok.connect('8501')
public_url